<template>
  <h1>WORDLE</h1>
  <Palabras />
  <Teclado />
</template>

<script setup>
import Teclado from "@/components/Teclado.vue";
import Palabras from "@/components/Palabras.vue";
</script>

<style lang="scss">
h1 {
  text-align: center;
  border-bottom: 1px solid #d4d6da;
}
.adivinada {
  background: #6baa64;
  color: #fff;
}
.adivinada-otro-lugar {
  background: #cab458;
  color: #fff;
}
.no-esta {
  background: #787c7e;
  color: #fff;
}
.sin-jugar {
  background: #d4d6da;
  color: #000;
}
</style>
