<template>
  <div class="container">
    <Palabra :palabra="intento1" />
    <Palabra :palabra="intento2" />
    <Palabra :palabra="intento3" />
    <Palabra :palabra="intento4" />
    <Palabra :palabra="intento5" />
  </div>
</template>

<script setup>
import { ref } from "vue";
import Palabra from "@/components/Palabra.vue";

let intento1 = ref("AUDIO");
let intento2 = ref("ANTES");
let intento3 = ref("AHORA");
let intento4 = ref("NUNCA");
let intento5 = ref("SALAS");
</script>

<style lang="scss" scoped>
.container {
  margin-bottom: 50px;
}
</style>
