<template>
  <div class="contenedor">
    <div class="letra">{{ palabra[0] }}</div>
    <div class="letra">{{ palabra[1] }}</div>
    <div class="letra">{{ palabra[2] }}</div>
    <div class="letra">{{ palabra[3] }}</div>
    <div class="letra">{{ palabra[4] }}</div>
  </div>
</template>

<script setup>
const props = defineProps({
  palabra: String,
});
</script>

<style lang="scss" scoped>
.contenedor {
  display: flex;
  justify-content: center;

  .letra {
    border: 2px solid #d4d6da;
    width: 45px;
    height: 45px;
    text-align: center;
    margin: 2px;
    font-size: 2rem;
    font-weight: bold;
  }
}
</style>
