<template>
  <div 
    class="tecla sin-jugar" 
    @click="jugarLetra"
  >
    {{ letra }}
  </div>
</template>

<script setup>
import { defineProps, defineEmits } from "vue";

const props = defineProps({
  letra: {
    type: String,
    required: true,
  },
});

const emit = defineEmits(['jugarLetra'])

const jugarLetra = () => {
  emit('jugarLetra', props.letra);
};

</script>

<style lang="scss" scoped>
.tecla {
  border-radius: 5px;
  padding: 15px;
  margin: 3px;
  font-weight: bold;
  cursor: pointer;
}
</style>
