<template>
  <div class="contenedor">
    <div class="fila">
      <Tecla 
        v-for="tecla, index in teclas.slice(0, 10)" 
        :key="index" 
        :letra="tecla"
        @jugar-letra="jugarLetra" 
      />
    </div>
    <div class="fila">
      <Tecla 
        v-for="tecla, index in teclas.slice(10, 19)" 
        :key="index" 
        :letra="tecla"
        @jugar-letra="jugarLetra" 
      />
    </div>
    <div class="fila">
      <Tecla 
        v-for="tecla, index in teclas.slice(19, 28)" 
        :key="index" 
        :letra="tecla"
        @jugar-letra="jugarLetra" 
      />
    </div>
  </div>
</template>

<script setup>
import { ref } from "vue";
import Tecla from "@/components/Tecla.vue";

let teclas = ref([
  "Q",
  "W",
  "E",
  "R",
  "T",
  "Y",
  "U",
  "I",
  "O",
  "P",
  "A",
  "S",
  "D",
  "F",
  "G",
  "H",
  "J",
  "K",
  "L",
  "ENTER",
  "Z",
  "X",
  "C",
  "V",
  "B",
  "N",
  "M",
  "<",
]);

const jugarLetra = (letra) => {
  // TODO: Enviar la letra jugada al componente Juego
  console.log(letra);
}
</script>

<style lang="scss" scoped>
.contenedor {
  padding: 10px;
}
.fila {
  display: flex;
  justify-content: center;
}
</style>
